<!--
	Copyright CSI-Piemonte - 2021

	SPDX-License-Identifier: EUPL-1.2-or-later.
 -->
<header class="page__header">
  <div id="navbar-top">
    <div class="container">
        <div class="region region-top-header">
            <div id="block-istituzione" class="block block-block-content">
                <div class="content">
                    <div class="field field--name-body field--type-text-with-summary">
                        <div class="field__item">
                            <p><span>Istituzione di appartenenza</span> <a href="https://www.regione.piemonte.it/web/" target="_blank">Regione Piemonte</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="header-main">
    <div class="container">
        <div class="row">
            <div class="region region-header">
                <a href="https://servizi.regione.piemonte.it/" rel="home" class="navbar-brand">
                    <img src="logo.svg" alt="logo Servizionline" class="im-logo" />
                    <span class="site-name">Servizi<strong>online</strong></span>
                </a>
            </div>
        </div>
    </div>
</div>


  <nav class="navbar navbar-light">
    <div class="container border1">
      <div>
        <a href="/gfufewcl/" class="navbar-brand-portal"><span class="sr-only">Regione Piemonte</span></a>
      </div>

      <div class="right">
        <ul class="navbar-nav navbar-expand">
          <li class="nav-item info-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#info"><i class="fas fa-info-circle"><span
                  class="sr-only">Informazioni</span></i></a>
          </li>
        </ul>
      </div>
      <!-- /navbar-collapse -->
    </div>
    <!--container-->
  </nav>
</header>





<!-- Modal info -->
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="info" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informazioni / Aiuto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="grey text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum
          laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic
          tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla
          luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.

        </div>

      </div>
    </div>
  </div>
</div>
<!--/ Modal info -->
