<!--
	Copyright CSI-Piemonte - 2021

	SPDX-License-Identifier: EUPL-1.2-or-later.
 -->
<footer role="contentinfo">
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 sm-center">
         <a href="http://www.regione.piemonte.it" rel="nofollow" target="_blank"><img alt="Logo Regione Piemonte" src="assets/im/logo_RP_footer.png"></a>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-right">

        </div>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="container">
      <div class="row">

        <div class="col-6">
          <a href="#" target="_blank">
            <img alt="Servizionline" src="assets/im/logo-servizionline.png">
          </a>
        </div>
        <div class="col-6 logo-csi">
          <a href="#" target="_blank">
            <img alt="csi piemonte" src="assets/im/logo-csi.svg">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="border-w"></p>
        </div>
      </div>

      <div class="row mt-3 justify-space-between">
        <div class="col-12 col-md-auto pt-3">
          <a href="#">Cookie policy</a> -
          <a href="#" target="_blank">Dichiarazione di accessibilit&agrave;</a> -
          <a href="#">Note legali e privacy</a>
        </div>
      </div>


    </div>
  </div>
</footer>


<!--div class="row">
        <div class="col-sm-12 col-md-3">
          <h3>Contatti</h3>
          <p><a href="mailto:geoportale@comune.torino.it">geoportale@comune.torino.it</a><br>
          <a href="mailto:AET-Urbanistica@csi.it">AET-Urbanistica@csi.it</a></p>
        </div>
        <div class="col-sm-12 col-md-6">
          <h3>Servizi segnalati</h3>
          <p><a href="https://servizi.torinofacile.it/info/estratto-urbanistico">Estratto Urbanistico</a><br>
            <a href="http://geoportale.comune.torino.it/web/">Geoportale e governo del territorio</a>
          </p>
        </div>

      </div -->
      <!--//row-->
